.vscode/**
.git/**
.gitignore
.vscode-test/**
out/test/**
src/**
node_modules/**
processing-3.5.4/**
backup/**
log/**
temp_scripts/**
test/**
tsconfig.json
package-lock.json
*.vsix
vsc-extension-quickstart.md
**/data/**

# 務必保留:
# media/**
# examples/**
# out/extension.js
